<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Create form using AngularJS</title>
  

<script src="AngularJS.js"></script>
 
  
</head>
<body ng-app="formApp">
<div ng-controller="formController">
<form novalidate >
<label>Name: <input type="text" ng-model="user.name" required /></label><br /><br />
<label>Lastname: <input type="text" ng-model="user.lastname" required /></label><br />
<label>National: <select ng-model="user.national">
<option ng-repeat="x in nationals" value="{{x}}">{{x}}</option></select></label><br /> 
<label>Phone: <input type="number" ng-model="user.phone" required /></label><br />   
<label>About you:<textarea ng-model="user.aboutUser"></textarea></label><br />
<div>If you have E-mail please fill it, else choose "I havn't E-mail "</div>
<label><input type="radio"  ng-model="user.haveMail" value="yes"> Fill E-mail</label>
<label><input type="radio"  ng-model="user.haveMail" value="no"> I havn't E-mail </label><br>
<div ng-if="user.haveMail==='yes'?true:false">
<label>E-mail: <input type="email" ng-model="user.email" required /></label>
</div>
<label>Do you married?<input type="checkbox" ng-model="user.married"
    ng-true-value="'YES'" ng-false-value="'NO'"></label><br/>
<label>Have you child?<input type="checkbox" ng-model="user.haveChild"
    ng-true-value="'YES'" ng-false-value="'NO'"></label><br/>
<label>Have you work?<input type="checkbox" ng-model="user.haveWork"
    ng-true-value="'YES'" ng-false-value="'NO'"></label><br/>


   
<input type="submit" ng-click="save(user)" value="Save" />
</form>
  
<pre >{{userCopy}}</pre>
</div>


<script src = "script.js"></script>
</body>
</html>