<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<title>Create form using AngularJS</title>
<script src="AngularJS.js"></script>
<style>
input.ng-invalid {
    background-color:LightSeaGreen;
}


</style>
</head>

<body ng-app="formApp">
<div ng-controller="formController" class="container">
<h2>Please fill form for help us to create statistical datas about your country</h2>
<form novalidate name="myForm" ng-submit="save()">
    <div class="form-group">
<label>Name: <input type="text" ng-model="user.name" placeholder="Enter name"required class="form-control"/></label>
    </div>
    <div class="form-group">
<label>Lastname: <input type="text" ng-model="user.lastname" placeholder="Enter lastname"required class="form-control"/></label>
    </div>
    <div class="form-group">
<label>Phone: <input type="number" ng-model="user.phone" placeholder="Enter phone"required class="form-control"/></label>
    </div> 
    <div class="form-group">
<label>National: <select ng-model="user.national" placeholder="Enter national" class="form-control">
<option ng-repeat="x in nationals" value="{{x}}">{{x}}</option></select></label>
    </div> 
 
    <div class="form-group">
<label>About you:<textarea ng-model="user.aboutUser" placeholder="Please tell about you" class="form-control" rows="3"></textarea></label>
    </div>
    <div class="form-group">
    <div class="form-check">
<label class="form-check-label"><input type="checkbox" ng-model="user.married"
    ng-true-value="'YES'" ng-false-value="'NO'" class="form-check-input">Do you married?</label>
    </div>
    <div class="form-check">
<label class="form-check-label"><input type="checkbox" ng-model="user.haveChild"
     class="form-check-input">Have you child?</label>
    </div>
        <div class="form-group" ng-show="user.haveChild">
<label>How many children do you have?<input type="number"  ng-model="user.childrenCount" placeholder="Enter your children count"required class="form-control"/></label>
    </div> 


    <div class="form-check">
<label class="form-check-label"><input type="checkbox" ng-model="user.haveWork"
     class="form-check-input">Have you work?</label>
    </div>
    </div>
    <div class="form-group" ng-show="user.haveWork">
<label>Please enter your workplace:<input type="text"  ng-model="user.workPlace"placeholder="Enter your workplace"required class="form-control"/></label>
    </div> 
    <div class="form-group" ng-show="user.haveWork">
<label>Please enter your occupied position:<input type="text"  ng-model="user.occupiedPosition"placeholder="Enter your occupied position"required class="form-control"/></label>
    </div> 

    <div class="form-group">
<p>If you have E-mail please fill it, else choose "I havn't E-mail "</p>
    </div>
    <div class="form-check-inline">
<label class="form-check-label"><input type="radio"  ng-model="user.haveMail" value="yes" class="form-check-input"> Fill E-mail</label>
    </div>
    <div class="form-check-inline">
<label class="form-check-label"><input type="radio"  ng-model="user.haveMail" value="no" class="form-check-input"> I havn't E-mail </label>
    </div>
    <div ng-if="user.haveMail==='yes'? true:false" class="form-group">
<label>E-mail: <input name="myEmail" type="email" ng-model="user.email" placeholder="Enter email"required class="form-control"/></label>
<span ng-show="myForm.myEmail.$error.email">Not a valid e-mail address</span>
    </div>
    
    <div class="form-group">
<input type="submit"  value="Save" class="btn btn-info"/>
    </div>
    <div class="form-group">
<input type="reset"  value="Reset" class="btn btn-info"/>
    </div>
</form>
  
<div>
<pre ng-style="myPreTag">{{userCopy|json}}</pre>
</div>

</div>

<script src = "controller.js"></script>
</body>
</html>