<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link data-require="bootstrap-css@2.3.2" data-semver="2.3.2" rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script data-require="angular-ui-bootstrap@0.3.0" data-semver="0.3.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>

    <link rel="stylesheet" href="../style.css" />
    <script src="products.js"></script>
</head>

<body ng-app="todos" ng-controller="TodoController">


<div class="header">
    <h1> ArmProd</h1>
    <h3>Web Shop</h3>
    <p>Now we have {{todos.length}} products</p>
</div>


<div class="container" class="row">
    <div class="col-sm-6" ng-repeat="x in filteredTodos" >

        <div ng-click="GetValues(x.name, x.price, x.monthly_price, x.image, x.type, x.color)"><h3>{{x.name}}</h3></div>

        <div ><img src="{{x.image}}" ng-style="myimage"></div>
        <div >{{x.price |  currency}}</div>
        <div >{{x.monthly_price |  currency}}</div>

    </div>
</div>

<div  data-pagination="" data-num-pages="numPages()"
      data-current-page="currentPage" data-max-size="maxSize"
      data-boundary-links="true">

</div>


<div class="footer">
    <h2> Our Contacts</h2>
    <h4> Yerevan, Halabyan 48</h4>
    <p>© ArmProd 2018</p>
</div>

</body>


</html>


