<div class="header">
    <h1> FindComponie</h1>
    <h3>We will help you find the needful componie </h3>
    <p>There are {{todos.length}} componies</p>
</div>


<div class="container" class="row">
    <div class="col-sm-6" ng-repeat="x in filteredTodos" >
        <div ng-click="GetValues( x.name, x.permalink,  x.crunchbase_url,x.homepage_url)">
            <p>Componie name <b>"{{x.name}}" (Click here for more information )</b></p>
        </div>
        <div>Crunchbase url  <a ng-href="{{x.crunchbase_url}}/{{hash}}">"{{x.crunchbase_url}}"</a></div>
        <div>Homepage url  <a ng-href="{{x.homepage_url}}/{{hash}}">"{{x.homepage_url}}"</a></div>
        <div ><img src="{{x.image}}" ng-style="myimage"></div>

    </div>
</div>

<div  data-pagination="" data-num-pages="numPages()"
      data-current-page="currentPage" data-max-size="maxSize"
      data-boundary-links="true">

</div>


<div class="footer">
    <h2> Our Contacts</h2>
    <h4> Yerevan, Halabyan 48</h4>
    <p>© FindComponie 2018</p>
</div>




